<div class="tab-list" role="tablist">
    <button hx-get="/tabs_hateoas/tab1" role="tab" aria-selected="false" aria-controls="tab-content">Tab 1</button>
    <button hx-get="/tabs_hateoas/tab2" class="selected" aria-selected="true" autofocus role="tab" aria-controls="tab-content">
        Tab 2
    </button>
    <button hx-get="/tabs_hateoas/tab3" role="tab" aria-selected="false" aria-controls="tab-content">Tab 3</button>
</div>

<div id="tab-content" role="tabpanel" class="tab-content">
    Kitsch fanny pack yr, farm-to-table cardigan cillum commodo reprehenderit plaid dolore cronut meditation.
    Tattooed polaroid veniam, anim id cornhole hashtag sed forage.
    Microdosing pug kitsch enim, kombucha pour-over sed irony forage live-edge.
    Vexillologist eu nulla trust fund, street art blue bottle selvage raw denim.
    Dolore nulla do readymade, est subway tile affogato hammock 8-bit.
    Godard elit offal pariatur you probably haven't heard of them post-ironic.
    Prism street art cray salvia.
</div>