<div class="tab-list" role="tablist">
    <button hx-get="/tabs_hateoas/tab1" role="tab" aria-selected="false" aria-controls="tab-content">Tab 1</button>
    <button hx-get="/tabs_hateoas/tab2" role="tab" aria-selected="false" aria-controls="tab-content">Tab 2</button>
    <button hx-get="/tabs_hateoas/tab3" class="selected" aria-selected="true" autofocus role="tab" aria-controls="tab-content">
        Tab 3
    </button>
</div>

<div id="tab-content" role="tabpanel" class="tab-content">
    Aute chia marfa echo park tote bag hammock mollit artisan listicle direct trade.
    Raw denim flexitarian eu godard etsy.
    Poke tbh la croix put a bird on it fixie polaroid aute cred air plant four loko gastropub swag non brunch.
    Iceland fanny pack tumeric magna activated charcoal bitters palo santo laboris quis consectetur cupidatat portland
    aliquip venmo.
</div>