<form hx-post="/updating_other_content/contacts4">
    <label>
        Names
        <input name="name" type="text">
    </label>
    <label>
        Email
        <input name="email" type="email">
    </label>
    <input type="submit">
</form>

<!-- note that we have to trigger a refresh for path-deps manually, otherwise this example doesn't work! -->
<script>
    PathDeps.refresh('/updating_other_content/contacts4');
</script>