<h3>Color Swap Demo</h3>
{% include "animations/color_swap.html.j2" %}

<h3>Fade Out On Swap</h3>
{% include "animations/fade_out_on_swap.html.j2" %}

<h3>Fade In On Addition</h3>
{% include "animations/fade_in_on_addition.html.j2" %}

<h3>Request In Flight Animation</h3>
{% include "animations/in_flight_animation.html.j2" %}

<h3>Using the htmx <code>class-tools</code> Extension</h3>
{% include "animations/class_tools.html.j2" %}

<h3>Using the View Transition API</h3>
{% include "animations/view_transition_initial.html.j2" %}
