<form class="sortable" hx-post="/sortable/items" hx-trigger="end">
    <div class="htmx-indicator">Updating...</div>
    <div><input type='hidden' name='item' value='1' />Item 1</div>
    <div><input type='hidden' name='item' value='2' />Item 2</div>
    <div><input type='hidden' name='item' value='3' />Item 3</div>
    <div><input type='hidden' name='item' value='4' />Item 4</div>
    <div><input type='hidden' name='item' value='5' />Item 5</div>
</form>

<script>
    // in the example the sortable initialization runs on htmx.onLoad() like this: htmx.onLoad(function (content) {
    // but load doesn't get triggered here (because htmx is already loaded in the index page), so instead we initialize it directly:
    var sortables = content.querySelectorAll(".sortable");
    for (var i = 0; i < sortables.length; i++) {
        var sortable = sortables[i];
        new Sortable(sortable, {
            animation: 150,
            ghostClass: 'blue-background-class'
        });
    }
</script>