<div id="tabs" hx-target="#tab-contents" role="tablist"
    _="on htmx:afterOnLoad
    set @aria-selected of <[aria-selected=true]/> to false
    tell the target
        take .selected
        set @aria-selected to true">
    <button role="tab" aria-controls="tab-content" aria-selected="true" hx-get="/tabs_hyperscript/tab1" class="selected">
        Tab 1
    </button>
    <button role="tab" aria-controls="tab-content" aria-selected="false" hx-get="/tabs_hyperscript/tab2">Tab 2</button>
    <button role="tab" aria-controls="tab-content" aria-selected="false" hx-get="/tabs_hyperscript/tab3">Tab 3</button>
</div>

<div id="tab-contents" role="tabpanel" hx-get="/tabs_hyperscript/tab1" hx-trigger="load"></div>