{% extends "base.html.j2" %}
{% block navbar %}
    <!-- TODO: hx-push-url should not be false, we should be able to refresh or navigate to each of the links, and still have the navbar. -->
    <div class="left-wrapper"
         id="navbar"
         hx-target="#content"
         hx-push-url="false">
        <a href="/click_to_edit/">1. Click to Edit</a>
        <br>
        <a href="/bulk_update/">2. Bulk Update</a>
        <br>
        <a href="/click_to_load/">3. Click to Load</a>
        <br>
        <a href="/delete_row/">4. Delete Row</a>
        <br>
        <a href="/edit_row/">5. Edit Row</a>
        <br>
        <a href="/lazy_loading/">6. Lazy Loading</a>
        <br>
        <a href="/inline_validation/">7. Inline Validation</a>
        <br>
        <a href="/infinite_scroll/">8. Infinite Scroll</a>
        <br>
        <a href="/active_search/">9. Active Search</a>
        <br>
        <a href="/progress_bar/">10. Progress Bar</a>
        <br>
        <a href="/value_select/">11. Value Select</a>
        <br>
        <a href="/animations/">12. Animations</a>
        <br>
        <a href="/file_upload/">13. File Upload</a>
        <br>
        <a href="/preserving_file_inputs/">14. Preserving File Inputs</a>
        <br>
        <a href="/dialogs_browser/">15. Dialogs - Browser</a>
        <br>
        <a href="/dialogs_uikit/">16. Dialogs - UIKit</a>
        <br>
        <a href="/dialogs_bootstrap/">17. Dialogs - Bootstrap</a>
        <br>
        <a href="/dialogs_custom/">18. Dialogs - Custom</a>
        <br>
        <a href="/tabs_hateoas/">19. Tabs (using HATEOAS)</a>
        <br>
        <a href="/tabs_hyperscript/">20. Tabs (using Hyperscript)</a>
        <br>
        <a href="/keyboard_shortcuts/">21. Keyboard Shortcuts</a>
        <br>
        <a href="/sortable/">22. Sortable</a>
        <br>
        <a href="/updating_other_content/">23. Updating Other Content</a>
        <br>
        <a href="/confirm/">24. Confirm</a>
        <br>
    </div>
{% endblock %}
{% block content %}
    <div class="right-wrapper" id="content">
        <h3>
            Implementation of the <a href="https://htmx.org/examples/">htmx Examples</a> using a Flask server.
        </h3>
    </div>
{% endblock %}
