<div class="progress" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="{{ percentage}}"
    aria-labelledby="pblabel">
    <div id="pb" class="progress-bar" style="width:{{ percentage }}%">
    </div>
</div>