<div>
    <button class="btn" hx-post="/dialogs_browser/submit" hx-prompt="Enter a string" hx-confirm="Are you sure?" hx-target="#response">
        Prompt Submission
    </button>
    <div id="response"></div>
</div>