<button id="showButton" hx-get="/dialogs_uikit/modal" hx-target="#modals-here" class="uk-button uk-button-primary"
    _="on htmx:afterOnLoad wait 10ms then add .uk-open to #modal">Open Modal</button>

<div id="modals-here"></div>