<table hx-indicator="#ind">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>ID</th>
        </tr>
    </thead>
    <tbody id="tbody">
        {% for contact in contacts %}
        {% if loop.last %}
        <tr hx-get="/infinite_scroll/contacts/?page=2" hx-trigger="revealed" hx-swap="afterend" hx-target="this">
        {% else %}
        <tr class="">
        {% endif %}
            <td>{{ contact.name }}</td>
            <td>{{ contact.email }}</td>
            <td>{{ contact.id }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<img id="ind" src="/static/img/bars.svg" class="htmx-indicator" />